/*
Description: Minimal styling for in-class exercise
Author: Bradley Yin
Email: .
Tags: Todo
*/

body {
  font-family: helvetica, sans-serif;
  font-size: 16px;
  width: 600px;
  margin: 0 auto;
}

.task {
  list-style: none;
}

.task.completed {
  text-decoration: line-through;
}